.navbar-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.login-btn {
  text-decoration: none;
  color: #101010;
}
